<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0fa32f6844.js"></script>
</head>
<body>
<div class="container">
	<h1>Sign-up</h1>
     <div class="col-md-4">
		<form th:object="${signupform}" th:action="@{/saveUser}" action="#" method="post">
			<div>
				<label> User name :<input type="text" th:field="*{userName}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">User name Error</p>	
			</div>
			<div>
				<label> Email :<input type="text" th:field="*{email}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">User name Error</p>	
			</div>
			<div>
				<label> Password :<input type="password" th:field="*{password}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div>
				<label> Re-type Password: <input type="password" th:field="*{passwordCheck}" class="form-control"/></label>
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			
			<input type="submit" class="btn btn-primary" value="Sign up"></input>
			<a href="/login" class="btn btn-success" style="float:right">Cancel</a>  		
		</form>
	</div>
</div>
</body>
</html>