<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>User List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0fa32f6844.js"></script>
</head>
<body>
	<div class="container"> 
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> 
		 <form th:action="@{/searchUser}" method="post">
				<input type="text" placeholder="Search user name" th:name="username">
	      		<button type="submit"><i class="fa fa-search"></i></button>
		</form> 	
    	<br>    	        	
	    <table  class= "table table-striped table-bordered text-center table-responsive" id="userlist">
	    	<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Name</th>
				    <th class="text-center">Email</th>
				    <th class="text-center">Role</th>
				    <th class="text-center">Member Since</th>
				</tr>
			</thead> 
			<tbody>
		    	<tr th:each = "user : ${users}">
		    		<td th:text="${user.id}"></td>
		    		<td th:text="${user.name}"></td>
		    		<td th:text="${user.email}"></td>
		    		<td th:text="${user.role}"></td>
		    		<td th:text="${#dates.year(#dates.createNow())}"></td>
	    	</tbody> 	
	     </table> 
	     <form th:action="@{/bookstore}" method="post" style="float: right;">
			<input type="submit" class="btn btn-info" value="Back to book store"/>
		</form>   		  
	</div>
</body>
</html>